<div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="player">
    <div class="card-body">

        <p class="card-text">Niveau : {{player.$level}}</p>
        <p class="card-text">Vie : {{player.$currentLife}}</p>
        <p class="card-text">Attaque : {{player.$attack}}</p>
        <p class="card-text">Défense : {{player.$defense}}</p>
        <p class="card-text">Expérience : {{player.$exp}}</p>
        <p class="card-text">Or : {{player.$gold}}</p>

    </div>
</div>
