

.event {
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 1%;

    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
}

.choice {

    padding-top: 1.5%;
    padding-bottom: 0.5%;

    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
}

.choices {
    cursor: pointer;
}

.choices:hover {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 3px;
}

.ending {

    padding-left: 5px;

    font-style: italic;

    background-color: rgba(50, 150, 80, 0.5);
    border-radius: 3px;
}